body, html {
  text-rendering: optimizeLegibility;
  color: #000000;
  scroll-behavior: auto;
  box-sizing: border-box;
  background: linear-gradient(135deg, #cacdfc55 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #ced1ff 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #c5c8ff55 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #ced1ff 25%, #e5e5f7 25%) 0px 0/ 52px 52px;
  transition: color .5s;
  overflow: hidden;
}

p {
  font-family: intro;
  font-size: 18px;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
}

h1 {
  font-family: intro;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
}

h2 {
  font-family: nav;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: intro;
  font-size: 18px;
  text-transform: uppercase;
}

@font-face {
  font-family: intro;
  src: url("../font/Metropolis-ExtraLight.otf");
}
@font-face {
  font-family: intro_p;
  src: url("../font/Metropolis-Thin.otf")
}
@font-face {
  font-family: nav;
  src: url("../font/Metropolis-Regular.otf");
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0;
  scroll-behavior: smooth;
  transition: color 0.5s;
}

/*----------------- Dark mode ------------------*/
.dark-mode .overlay {
  background-color: #e5e5f7;
  background: linear-gradient(135deg, #2c2d5855 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #2b2b46 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #2c2d5855 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #2b2b46 25%, #46464d 25%) 0px 0/ 52px 52px;
  color: #cccccc;
}
/* First section */
.dark-mode .overlay #sect1 {
  background-color: rgb(42, 43, 56, 0.9);
}
/* Second section */
.dark-mode .overlay #sect2 {
  background-color: rgb(42, 43, 56, 0.9);
}
.dark-mode .overlay #sect2 .table1 th {
  background-color: #1e2036a4;
}
.dark-mode .overlay #sect2 .table1 td {
  background-color: #42455c91;
}
/* Third section */
.dark-mode .overlay #sect3 {
  background-color: rgb(42, 43, 56, 0.9);
} 
/* Footer */
.dark-mode .overlay #footer {
  background-color: #46464d;
}
/* topnav */
.dark-mode .overlay .topnav {
  background-color: #46464d;
}
.dark-mode .overlay a:hover:not(.active) {
  color: #FFF;
  text-shadow: 0 0 5px rgb(110, 110, 110);
}
.dark-mode .overlay a:active {
  background-color: #38383d;
}

.dark-mode .overlay #sect1 a {
  text-decoration: none;
  font-weight: bolder;
  color: #ccc;
}

.dark-mode .overlay #sect1 a:hover {
  text-decoration: underline;
}

.dark-mode .overlay #sect1 a:link {
  color: #ccc;
}

.dark-mode .overlay #sect1 a:visited {
  color: #ccc;
}
/*----------------- Dark mode end ------------------*/
/*----------------- Navigation ------------------*/
.topnav {
  overflow: visible;
  background-color: #3d405b;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: background-color 0.5s;
}

.topnav a:hover:not(.active) {
  color: #fff;
  text-shadow: 0 0 5px rgb(110, 110, 110);
}

.topnav a:active {
  background-color: #303247;
}

.topnav a {
  text-transform: uppercase;
  font-family: nav;
  font-size: 16px;
  position: relative;
  float: left;
  display: flex;
  text-align: center;
  padding: 14px 1.5vw;
}

.topnav a {
  color: #c9c9c9;
  text-decoration: none;
}

/*----------------- Dark mode switch --------------*/
.mswitch {
  position: relative;
  float: left;
  display: flex;
  padding: 14px 20px;
}

@media screen and (max-width: 425px) {
  .topnav a {
    font-size: 12px;
    padding: 18px 5px;
  }
  .mswitch {
    position: relative;
    float: left;
    display: flex;
    padding: 0 18px;
  }

  #sect1 .presentation {
    border-radius: 15px;
  }

  #sect2 .gal1 img {
    width: 50%;
  }

}
/* hide HTML checkbox */
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 10px;
  padding: 13px;
  background-color: rgb(110, 110, 110);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #f4f1de;
  transition: .5s;
}

input:checked + .slider {
  background-color: #d8d8d8;
}

input:checked + .slider:before {
  background-color: #333;
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
/*----------------- Dark mode switch end--------------*/

/*----------------- Navigation end -----------------------*/

/*--------------- Header ----------------*/
.header {
  width: 90vw;
  height: 50vh;
  padding: 40vh 0;
  margin: auto;
  text-align: center;
  transition: background-color 0.5s;
}

.header p {
  text-transform: uppercase;
  font-family: intro_p;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}
/*--------------- Header end ----------------*/

/*------------- First section ------------------*/
#sect1 {
  width: 90vw;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4% 0;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 60px;
  text-align: center;
}

#sect1 a {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  transition: color .5s;
}

#sect1 a:hover {
  text-decoration: underline;
}

#sect1 a:link {
  color: #000;
}

#sect1 a:visited {
  color: #000;
}

.presentation {
  width: 90%;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*------------- First section end ------------------*/

/*------------- Second section ------------------*/
#sect2 {
  width: 90vw;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4% 0;
  text-align: center;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 60px;
}

.gal1 {
  background-color: #9297c554;
  width: 80vw;
  margin: auto;
  border-radius: 20px;
  list-style-type: none;
  overflow: hidden;
}

.gal1 div {
  padding: 0;
}

.gal1 div img {
  display: inline-block;
  padding: 0 60px;
  width: 20%;
}

.table1 {
  top: 20%;
  margin: auto;
  font-family: nav;
  width: 80vw;
  background-color:#b7bdeb6c;
  text-align: center;
  border-radius: 20px;
}

td {
  padding: 8px 8px;
  width: 30%;
  background-color: #9297c554;
}

th {
  padding: 8px 8px;
  background-color: #6c73a5;
}

.in24 {
  border-radius: 18px 0 0 0;
}
.in50 {
  border-radius: 0 18px 0 0;
}

.c1 {
  border-radius: 0 0 0 18px;
}

.c3 {
  border-radius: 0 0 18px 0;
}
/*------------- Second section end ------------------*/

/*------------- Third section ------------------*/
#sect3 {
  width: 90vw;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4% 0;
  text-align: center;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 60px;
}

#sect3 p {
  font-size: 12px;
}

#sect3 .order form {
  font-family: intro_p;
  text-align: center;
  background-color: #9297c554;
  border-radius: 60px;
  width: 80%;
  margin: auto;
}

#sect3 div form .text {
  text-align: center;
  
  margin: auto;
}

#sect3 div form .submit {
  border-radius: 20px;
  background-color: #9297c554;
  text-decoration: none;
}

/*------------- Third section end ------------------*/

/*--------------- Footer -------------------*/
#footer {
  width: 100%;
  padding: 1% 0;
  position: static;
  margin-top: 2%;
  text-align: center;
  background-color: #3d405b;
  transition: background-color 0.5s;
  color: #fff;
}

#footer h3 {
  font-size: 16px;
}

#footer p {
  font-size: 10px;
  padding: 0;
}

#footer p a {
  text-decoration: none;
  color: #fff;
}

#footer p a:hover {
  text-decoration: underline;
}

#footer p a:link {
  color: inherit;
}

#footer p a:visited {
  color: inherit;
}
/*-------------- Footer end ------------------*/