body, html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  scroll-behavior: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  background: linear-gradient(135deg, #cacdfc55 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #ced1ff 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #c5c8ff55 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #ced1ff 25%, #e5e5f7 25%) 0px 0/ 52px 52px;
  transition: background-color .3s;
  transition: color .5s;
  overflow: hidden;
}

p {
  font-family: intro;
  font-size: 18px;
  width: 90%;
  margin: auto;
}

h1 {
  font-family: intro;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-family: nav;
  font-size: 28px;
  text-transform: uppercase;
}

h3 {
  font-family: intro;
  font-size: 18px;
  text-transform: uppercase;
}

@font-face {
  font-family: intro;
  src: url("../font/Metropolis-ExtraLight.otf");
}
@font-face {
  font-family: intro_p;
  src: url("../font/Metropolis-Thin.otf")
}
@font-face {
  font-family: nav;
  src: url("../font/Metropolis-Regular.otf");
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0;
  scroll-behavior: smooth;
}

/*----------------- Dark mode ------------------*/
.dark-mode > .overlay {
  background-color: #e5e5f7;
  background: linear-gradient(135deg, #2c2d5855 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #2b2b46 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #2c2d5855 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #2b2b46 25%, #46464d 25%) 0px 0/ 52px 52px;
  color: #cccccc;
}
/* First section */
.dark-mode > .overlay > #sect1 > .div > .s1subsect1 {
  background-color: rgb(42, 43, 56, 0.8);
}
.dark-mode > .overlay > #sect1 > .div > .s1subsect2 {
  background-color: rgb(42, 43, 56, 0.8);
}
.dark-mode > .overlay > #sect1 > .s1subsect3 {
  background-color: rgb(42, 43, 56, 0.8);
}
/* Second section */
.dark-mode > .overlay > #sect2 > .s2subsect1 {
  background-color: rgb(42, 43, 56, 0.8);
}
.dark-mode > .overlay > #sect2 > .s2subsect2 {
  background-color: rgb(42, 43, 56, 0.8);
}
/* Third section */
.dark-mode > .overlay > #sect3 {
  background-color: rgb(42, 43, 56, 0.8);
} 
/* Footer */
.dark-mode > .overlay > #footer {
  background-color: #46464d;
}
/* topnav */
.dark-mode > .overlay > .topnav {
  background-color: #46464d;
}
.dark-mode > .overlay > .topnav > li:hover:not(.active) {
  color: #FFF;
  text-shadow: 0 0 5px rgb(110, 110, 110);
}
.dark-mode > .overlay > .topnav > li:active {
  background-color: #38383d;
}
/*----------------- Dark mode end ------------------*/
/*----------------- Navigation ------------------*/
.topnav {
  overflow: visible;
  background-color: #3d405b;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.5s;
}

.topnav > li > a:hover:not(.active) {
  color: #fff;
  text-shadow: 0 0 5px rgb(110, 110, 110);
}

.topnav > li:active {
  background-color: #303247;
}

.topnav > li {
  text-transform: uppercase;
  font-family: nav;
  font-size: 16px;
  position: relative;
  float: left;
  display: flex;
  text-align: center;
  padding: 15px 20px;
}

.topnav > li > a {
  color: #c9c9c9;
  text-decoration: none;
}

/*----------------- Dark mode switch --------------*/
.topnav > .mswitch {
  position: relative;
  float: left;
  display: flex;
  padding: 14px 20px;
}

@media screen and (max-width: 425px) {

  .topnav > li {
    font-size: 12px;
    padding: 18px 5px;
  }
  .topnav > .mswitch {
    position: relative;
    float: left;
    display: flex;
    padding: 0 18px;
  }
}
/* hide HTML checkbox */
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 10px;
  padding: 13px;
  background-color: rgb(110, 110, 110);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #f4f1de;
  transition: .5s;
}

input:checked + .slider {
  background-color: #d8d8d8;
}

input:checked + .slider:before {
  background-color: #333;
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
/*----------------- Dark mode switch end--------------*/

/*----------------- Navigation end -----------------------*/

/*--------------- Header ----------------*/
.header {
  margin-top: 10px;
  width: 100%;
  padding: 10% 0;
  margin: auto;
  text-align: center;
  transition: background-color 0.5s;
}

.header p {
  text-transform: uppercase;
  font-family: intro_p;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}
/*--------------- Header end ----------------*/

/*------------- First section ------------------*/
#sect1 {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4% 0;
  text-align: center;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 60px;
}

.gallery1 > img {
  width: 250px;
  padding: 2%;
}
/*------------- First section end ------------------*/

/*------------- Second section ------------------*/
#sect2 {
  width: 90%;
  margin: auto;
  text-align: center;
}

.s2subsect1 {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 0.5%;
  padding: 4% 0;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 60px 60px 0 0;
}

.s2subsect2 {
  margin: auto;
  margin-bottom: 2%;
  padding: 4% 0;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 0 0 60px 60px;
}

.s2subsect2 > div {
  padding-bottom: 2%;
}

.table1 {
  margin: auto;
  font-family: nav;
  width: 90%;
  background-color:#b7bdeb6c;
  text-align: center;
  border-radius: 20px;
}
td, th {
  padding: 8px 8px;
}

.c1 {
  border-radius: 0 0 0 20px;
}

.c3 {
  border-radius: 0 0 20px 0;
}

tr:nth-child(even) {
  background-color:#9297c554;
  
}
/*------------- Second section end ------------------*/

/*------------- Third section ------------------*/
#sect3 {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4% 0;
  text-align: center;
  background-color: rgba(203, 205, 236, 0.8);
  transition: background-color 0.5s;
  border-radius: 60px;
}

#sect3 .capy {
  width: 90%;
  padding: 2%;
}
/*------------- Third section end ------------------*/

/*--------------- Footer -------------------*/
#footer {
  width: 100%;
  padding: 1% 0;
  position: static;
  margin-top: 2%;
  text-align: center;
  background-color: #3d405b;
  transition: background-color 0.5s;
}

#footer > h2 {
  font-family: nav;
  font-size: 28px;
  text-transform: uppercase;
  color:rgb(228, 228, 228);
}
/*-------------- Footer end ------------------*/
/*
:root {
  background-color: rgba(165, 210, 255, .4);
  background-image:
    linear-gradient(-45deg, rgba(165, 210, 255, .4) 50%, transparent 50%),
    linear-gradient(45deg, rgba(165, 210, 255, .2) 50%, transparent 50%);
  background-size: 40px 40px;
}*/

/*
background-color: #e5e5f7;
opacity: 0.5;
background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 52px 52px;
*/